[submodule "private"]
	path = private
	url = sysadmin-git@www-0.synhak.org:ansible-private.git
[submodule "tdfischer-roles"]
	path = tdfischer-roles
	url = git://github.com/tdfischer/ansible-roles.git
